.elements__like_active {
    background-image: url(../../../../src/blackheart.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 25px;
    height: 19px;
}