.form__input {
    margin-bottom: 30px;
    border: #fff;
    border: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 358px;
    line-height: 2;
}

.form__input:last-child {
    margin-bottom: 48px;
}