.elements__like {
    background-image: url(../../../src/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 25px;
    height: 19px;
    border: none;
    background-color: #fff;
    margin-right: 20px;
    box-sizing: border-box;
}

.elements__like:hover {
    opacity: 0.5;
}