.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    margin-right: 40px;
}

@media screen and (max-width: 1050px) {
    .profile__avatar {
        margin: auto;
    }
}